
#fv-dots ul li a span {
  background-color: #ddd;
  transition: 0.2s ease-in-out all;
  width: 6px;
  height: 6px;
}

#fv-dots ul a.active span {
  background-color: #173549 !important;
}

#fv-dots ul li {
  padding: 6px;
}


section {
  padding: 10vh 0 35px;
  background: #fff;
}
footer {
  padding: 10vh 0 35px !important;

}
.navbar a, .navbar a:focus {
 
 padding: .5rem 1rem !important; 


}
.section-header{
padding-bottom: 20px !important;
}

.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10vh;

  background-repeat: no-repeat ;
 text-align: center;


}
.service-content img  {
 
  width: 80%;
  margin: auto;

}

#warning-message {
  
  text-align: center;
  display: none;

}
#warning-message img, #warning-message span {
  
  margin: auto;
    justify-content: center;
    display: block;
    margin-top: 50%;
}
#warning-message span {
  
  margin: auto;
    justify-content: center;
    display: block;
  
}

@media only screen and (orientation:portrait){
  .service-content img  {
 
   transform: rotate(90deg);
  
  }
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}

@media (max-width: 767px){
  

  

  .service-content {
    padding-top: 5vh;
    text-align: center;
    position: relative;

  }

  .service-content img {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;

  }

 

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


