/* Override Styles */
#fv-dots ul li a span {
  background-color: #888888;
  border-radius: 0;
  transition: all 0.5s ease;
}

#fv-dots ul a.active span {
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  background-color: #bdbdbd;
}

section {
  padding: 10vh 0 35px;
  background: #fff;
}
.service-content{
  position: relative;
}
footer {
  padding: 10vh 0 35px !important;

}
#home{
  background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source2_77C7F4CE1FF2D.png);
}
#services{
  background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source_77C7F4E80BD94.png);
}
#Certificatie{
  background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source4_77C7F5130238E.png) ;
}
#our-story{
  background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source3_77C7F52B84A06.png);
}
.navbar a,
.navbar a:focus {

  padding: .5rem 1rem !important;


}

.section-header {
  padding-bottom: -0px !important;
  margin-top: 20px;
  /*  position: absolute;
  width: 100%; */
}

.read-more-btn-block{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}


@media only screen and (orientation:portrait) {
  #home{
    background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source2_77C7F4CE1FF2D.png);
  }
  #services{
    background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source_77C7F4E80BD94.png);
  }
  #Certificatie{
    background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source4_77C7F5130238E.png) ;
  }
  #our-story{
    background-image: url(https://app.sourcedagile.com/api/get/zdfiles/traininghub/source3_77C7F52B84A06.png);
  }
}



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}



#fullview>div {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  align-items: center;

  flex-direction: column;
  padding: 25px;
}